[Unit]
Description=暗影精灵8A4D用户调度器
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/omen-8a4d-user-scheduler --profile performance --sensors CPU
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
